NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-05-15

# Token Sanity dengan permission Editor (untuk admin panel)
SANITY_WRITE_TOKEN=sks9OLmVF8j4wxaFC5yhj3chjpvS89y5j9HmWTjQqVsuCRnkkArYS5zhDl2XsOeV1YJuKTxWE964MaYWW9B4Af0akzvQPQKG40f4dLFmdd2w3I9xYQxwcgipo0KIK3MSjD2ZSDAiu2vnUThyU6wgVEede0HC8kfG3IFROUksB3VxUBNya5LK

# NextAuth — generate: openssl rand -base64 32
NEXTAUTH_SECRET=Bo+Im/6ckfodHWhmjsqpwue2pDZLSm1UyVnJcHrKn50=
NEXTAUTH_URL=https://yourdomain.vercel.app
